html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    body
        .section
            .containers
                .container
                    h1 Delete manager
                    form(method='DELETE', action='/managerDelete')

                        .field
                            label.field Nif
                            .control
                                input.input(name='nif', type='text')

                        .control
                            button.button.is-primary Delete