html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    body
        .section
            .containers
                .container
                    form(method='POST', action='/submit')

                        .field
                            label.field Name
                            .control
                                input.input(name='manager_name', type='text', placeholder='Manager')

                        .field
                            label.field Email 
                            .control
                                input.input(name='email', type='text', placeholder='example@email.com')
                        
                        .field
                            label.field Mobile Number
                            .control
                                input.input(name='mobile_number', type='text', placeholder='9********')

                        .field
                            label.field NIF
                            .control
                                input.input(name='nif', type='text')

                        .field
                            label.field NIB
                            .control
                                input.input(name='nib', type='text')

                        .control
                            button.button.is-primary Submit