html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    body
        .section
            .containers
                .container
                    form(method="get" action="/manager/show")
                        button.button.is-primary(type="submit") Show Managers

                    form(method="get" action="/manager/create")
                        button.button.is-primary(type="submit") Create New Manager

                    form(method="get" action="/manager/update")
                        button.button.is-primary(type="submit") Update Manager Mobile Number
                        
                    form(method="get" action="/manager/delete")
                        button.button.is-primary(type="submit") Delete Manager
