html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    body
        .section
            .containers
                .container
                    h1 Update manager
                    form(method='PUT', action='/managerUpdate')

                        .field
                            label.field Old Mobile Number
                            .control
                                input.input(name='mobile_number_old', type='text', placeholder='9********')

                        .field
                            label.field New Mobile Number
                            .control
                                input.input(name='mobile_number_new', type='text', placeholder='9********')

                        .control
                            button.button.is-primary Update